@import "tailwindcss";

@theme {
	/* Fonts */
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Playfair Display', serif;

	/* Custom Colors - Lapis Brand */
	--color-brand-green: oklch(0.696 0.17 162.48);
	--color-brand-green-hover: oklch(0.765 0.177 163.223);
	--color-brand-dark: oklch(0.145 0 0);
	--color-brand-darker: oklch(0.205 0 0);
	--color-brand-blue: #1e1b4b;
	--color-brand-cream: #FDFBF7;
	--color-brand-pink: #FCE7F3;
	--color-brand-light-green: #DCFCE7;
	--color-brand-yellow: #FEF9C3;
	--color-brand-purple: #F3E8FF;
}

@layer utilities {
	.font-serif {
		font-family: var(--font-serif);
	}
    .font-serif-display {
        font-family: var(--font-serif);
        letter-spacing: -0.02em;
    }
	.font-sans {
		font-family: var(--font-sans);
	}
}
